<div class="header__content">
  <div class="wrap">
    <div class="search">
      <form class="search__form" method="get" action="/search">
        <input
          type="text"
          name="q"
          value=""
          placeholder="Vyhľadajte v našom obchode"
          aria-label="Vyhľadajte v našom obchode"
          class="search-query"
          tabindex="-1"
        >
        <input type="hidden" name="type" value="product">
        <a href="#" class="remove-search" tabindex="-1"></a>
      </form>

      <div class="search__results">
        <div class="search__results-scroller">
          <div class="search__results-container">
            <div class="search-outer"></div>
            <div class="search__results-list product-grid product-grid--results"></div>
            <div class="loader loader--search">
              <div class="loader-indeterminate"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SEARCH, CURRENCY, ACCOUNT, CART -->
    <div class="header-content">
      <nav class="header__social"></nav>

      <!-- LOGO -->
      <h1
        class="logo__wrapper aos-init aos-animate"
        id="logo"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        <a href="/">
          <img
            class="logo logo--default lazyautosizes lazyloaded"
            src="//cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_400x.jpg?v=1613595767"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296]"
            data-aspectratio="3.8240917782026767"
            data-sizes="auto"
            data-parent-fit="contain"
            style="height: 52px"
            alt="LIDES.COM"
            data-srcset="//cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_180x.jpg?v=1613595767 180w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_360x.jpg?v=1613595767 360w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_540x.jpg?v=1613595767 540w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_720x.jpg?v=1613595767 720w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_900x.jpg?v=1613595767 900w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_1080x.jpg?v=1613595767 1080w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_1296x.jpg?v=1613595767 1296w"
            sizes="198.85277246653922px"
            srcset="//cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_180x.jpg?v=1613595767 180w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_360x.jpg?v=1613595767 360w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_540x.jpg?v=1613595767 540w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_720x.jpg?v=1613595767 720w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_900x.jpg?v=1613595767 900w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_1080x.jpg?v=1613595767 1080w, //cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_1296x.jpg?v=1613595767 1296w"
          >

          <noscript>
            <img
              class="no-js-image"
              src="//cdn.shopify.com/s/files/1/1420/1800/files/LIDES_logo_2_400x.jpg?v=1613595767"
              alt="LIDES.COM"
            >
          </noscript>
        </a>
      </h1>

      <div class="user-links">
        <a href="/account" class="header__account__link" id="account-link">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-account" viewBox="0 0 18 20">
            <g fill="#000" fill-rule="evenodd"><path fill-rule="nonzero" d="M9 12A6 6 0 1 1 9 0a6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"></path><rect width="18" height="5" y="15" rx="2.5"></rect></g>
          </svg>
          <span class="visually-hidden">Môj účet</span>
        </a>

        <a href="javascript:void(0)" id="SearchToggle" title="Vyhľadajte v našom obchode">
          <span class="search-toggle">
            <span class="visually-hidden">Vyhľadávanie</span>
            <span class="oi" data-glyph="magnifying-glass"></span>
          </span>
        </a>

        <a href="/cart/" class="header__cart__wrapper" id="CartButton" title="Košík">
          <span class="header__cart__icon__wrapper">
            <span class="visually-hidden">Nadpis</span>
            <span class="oi header__cart__icon" data-glyph="cart"></span>
            <span class="cart-count-js header__cart__count" style="display: none;"> 0 </span>
          </span>
        </a>
      </div>

      <a href="javascript:void(0)" class="medium-up--hide toggle-menus">
        <div class="toggle-menus-lines">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <span class="visually-hidden">Meno</span>
      </a>
    </div>
  </div>

  <!-- MAIN NAV -->
  <section id="NavMenus" class="navigation__wrapper" role="navigation">
    <nav class="site-nav nav__links">
      <ul class="main-menu unstyled" role="navigation" aria-label="primary">
        <li class="transcy-switcher-manual hidden transcy-mobile mobile-nav__item"></li>
        <li class="child main-menu--active">
          <a href="/" class="nav-link"> Domov </a>
        </li>

        <li class="parent ">
          <a href="/collections/hviezdne-nebo-z-optickych-vlakien" class="nav-link">
            Hviezdne nebo z optických vlákien
            <span class="nav-carat-small" tabindex="0">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                class="icon icon-arrow-right"
                viewBox="0 0 20 38"
              >
                <path d="M15.932 18.649L.466 2.543A1.35 1.35 0 0 1 0 1.505c0-.41.155-.77.466-1.081A1.412 1.412 0 0 1 1.504 0c.41 0 .756.141 1.038.424l16.992 17.165c.31.283.466.636.466 1.06 0 .423-.155.777-.466 1.06L2.542 36.872a1.412 1.412 0 0 1-1.038.424c-.41 0-.755-.141-1.038-.424A1.373 1.373 0 0 1 0 35.813c0-.423.155-.776.466-1.059L15.932 18.65z" fill="#726D75" fill-rule="evenodd"></path>
              </svg>
            </span>
          </a>

          <a
            href="#"
            class="nav-carat ariaToggle"
            aria-haspopup="true"
            aria-controls="hviezdne-nebo-z-optickych-vlakien-2-desktop"
            aria-expanded="false"
          >
            <span class="visually-hidden">+</span>
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon-arrow-right"
              viewBox="0 0 20 38"
            >
              <path d="M15.932 18.649L.466 2.543A1.35 1.35 0 0 1 0 1.505c0-.41.155-.77.466-1.081A1.412 1.412 0 0 1 1.504 0c.41 0 .756.141 1.038.424l16.992 17.165c.31.283.466.636.466 1.06 0 .423-.155.777-.466 1.06L2.542 36.872a1.412 1.412 0 0 1-1.038.424c-.41 0-.755-.141-1.038-.424A1.373 1.373 0 0 1 0 35.813c0-.423.155-.776.466-1.059L15.932 18.65z" fill="#726D75" fill-rule="evenodd"></path>
            </svg>
          </a>

          <div
            class="main-menu-dropdown  main-menu-dropdown--has-links"
            id="hviezdne-nebo-z-optickych-vlakien-2-desktop"
          >
            <ul>
              <li class="child ">
                <a href="/collections/led-projektor-pre-hviezne-nebo" class="nav-link">
                  LED projektory pre hviezdne nebo
                </a>
              </li>

              <li class="child ">
                <a href="/collections/hviezdne-nebo-kompletne-sety" class="nav-link">
                  Kompletné sety z optických vlákien
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="parent ">
          <a href="/collections/hviezdne-nebo-z-kristalov-swarovski" class="nav-link">
            Hviezdne nebo z krištáľov Swarovski
            <span class="nav-carat-small" tabindex="0">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                class="icon icon-arrow-right"
                viewBox="0 0 20 38"
              >
                <path d="M15.932 18.649L.466 2.543A1.35 1.35 0 0 1 0 1.505c0-.41.155-.77.466-1.081A1.412 1.412 0 0 1 1.504 0c.41 0 .756.141 1.038.424l16.992 17.165c.31.283.466.636.466 1.06 0 .423-.155.777-.466 1.06L2.542 36.872a1.412 1.412 0 0 1-1.038.424c-.41 0-.755-.141-1.038-.424A1.373 1.373 0 0 1 0 35.813c0-.423.155-.776.466-1.059L15.932 18.65z" fill="#726D75" fill-rule="evenodd"></path>
              </svg>
            </span>
          </a>

          <a
            href="#"
            class="nav-carat ariaToggle"
            aria-haspopup="true"
            aria-controls="hviezdne-nebo-z-kristalov-swarovski-3-desktop"
            aria-expanded="false"
          >
            <span class="visually-hidden">+</span>
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon-arrow-right"
              viewBox="0 0 20 38"
            >
              <path d="M15.932 18.649L.466 2.543A1.35 1.35 0 0 1 0 1.505c0-.41.155-.77.466-1.081A1.412 1.412 0 0 1 1.504 0c.41 0 .756.141 1.038.424l16.992 17.165c.31.283.466.636.466 1.06 0 .423-.155.777-.466 1.06L2.542 36.872a1.412 1.412 0 0 1-1.038.424c-.41 0-.755-.141-1.038-.424A1.373 1.373 0 0 1 0 35.813c0-.423.155-.776.466-1.059L15.932 18.65z" fill="#726D75" fill-rule="evenodd"></path>
            </svg>
          </a>

          <div
            class="main-menu-dropdown  main-menu-dropdown--has-links"
            id="hviezdne-nebo-z-kristalov-swarovski-3-desktop"
          >
            <ul>
              <li class="child ">
                <a href="/collections/samostatne-kristale-swarovski" class="nav-link">
                  Samostatné krištále Swarovski
                </a>
              </li>

              <li class="child ">
                <a href="/collections/sety-drop18-drop40" class="nav-link"> Sety - Drop18, Drop40 </a>
              </li>

              <li class="child ">
                <a href="/collections/sety-drop18-drop40-drop50" class="nav-link"> Sety - Drop18, Drop40, Drop50 </a>
              </li>

              <li class="child ">
                <a href="/collections/sety-drop18-drop40-drop63" class="nav-link"> Sety - Drop18, Drop40, Drop63 </a>
              </li>

              <li class="child ">
                <a href="/collections/sety-drop18-drop40-spindrop" class="nav-link">
                  Sety - Drop18, Drop40, SpinDrop
                </a>
              </li>

              <li class="child ">
                <a href="/collections/sety-flow63-flow100" class="nav-link"> Sety - Flow63, Flow100 </a>
              </li>

              <li class="child ">
                <a href="/collections/sety-briolette76-briolette100" class="nav-link">
                  Sety - Briolette76, Briolette100
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="parent ">
          <a href="/collections/all" class="nav-link">
            Produkty - E-shop
            <span class="nav-carat-small" tabindex="0">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                class="icon icon-arrow-right"
                viewBox="0 0 20 38"
              >
                <path d="M15.932 18.649L.466 2.543A1.35 1.35 0 0 1 0 1.505c0-.41.155-.77.466-1.081A1.412 1.412 0 0 1 1.504 0c.41 0 .756.141 1.038.424l16.992 17.165c.31.283.466.636.466 1.06 0 .423-.155.777-.466 1.06L2.542 36.872a1.412 1.412 0 0 1-1.038.424c-.41 0-.755-.141-1.038-.424A1.373 1.373 0 0 1 0 35.813c0-.423.155-.776.466-1.059L15.932 18.65z" fill="#726D75" fill-rule="evenodd"></path>
              </svg>
            </span>
          </a>

          <a
            href="#"
            class="nav-carat ariaToggle"
            aria-haspopup="true"
            aria-controls="produkty-e-shop-4-desktop"
            aria-expanded="false"
          >
            <span class="visually-hidden">+</span>
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon-arrow-right"
              viewBox="0 0 20 38"
            >
              <path d="M15.932 18.649L.466 2.543A1.35 1.35 0 0 1 0 1.505c0-.41.155-.77.466-1.081A1.412 1.412 0 0 1 1.504 0c.41 0 .756.141 1.038.424l16.992 17.165c.31.283.466.636.466 1.06 0 .423-.155.777-.466 1.06L2.542 36.872a1.412 1.412 0 0 1-1.038.424c-.41 0-.755-.141-1.038-.424A1.373 1.373 0 0 1 0 35.813c0-.423.155-.776.466-1.059L15.932 18.65z" fill="#726D75" fill-rule="evenodd"></path>
            </svg>
          </a>

          <div class="main-menu-dropdown  main-menu-dropdown--has-links" id="produkty-e-shop-4-desktop">
            <ul>
              <li class="child ">
                <a href="/collections/lustre" class="nav-link"> Lustre </a>
              </li>

              <li class="child ">
                <a href="/collections/stropne-svietidla" class="nav-link"> Stropné svietidlá </a>
              </li>

              <li class="child ">
                <a href="/collections/zavesne-svietidla" class="nav-link"> Závesné svietidlá </a>
              </li>

              <li class="child ">
                <a href="/collections/nastenne-svietidla" class="nav-link"> Nástenné svietidlá </a>
              </li>

              <li class="child ">
                <a href="/collections/exterierove-svietidla" class="nav-link"> Exteriérové svietidlá </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="child ">
          <a href="/pages/projekty-1" class="nav-link"> Projekty </a>
        </li>

        <li class="child ">
          <a href="/pages/katalogy" class="nav-link"> Katalógy </a>
        </li>

        <li class="child ">
          <a href="/pages/blogy" class="nav-link"> Blogy </a>
        </li>

        <li class="child ">
          <a href="/pages/about-us" class="nav-link"> O nás </a>
        </li>

        <li class="child ">
          <a href="/pages/kontakt" class="nav-link"> Kontakt </a>
        </li>

        <li class="nav__account medium-up--hide"><a href="/account/login" id="customer_login_link">Prihlásiť sa</a></li>
        <li class="nav__account medium-up--hide">
          <a href="/account/register" id="customer_register_link">Vytvoriť účet</a>
        </li>
      </ul>
    </nav>

    <div class="header__social--mobile medium-up--hide"></div>
  </section>
</div>
